module.exports = {

	//This genie application url (please keep in mind it needs https)
	url: 'https://example.com',

	//blend Genie api access info
	api: {
		accessKey: '',
		accessSecret: '',
	},

}
